version https://git-lfs.github.com/spec/v1
oid sha256:ffae6cfc47a0c3b4b202d15bce49bfbe221442a4edf2aab096a9de75c5db8d32
size 182
*.csv filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
